body {
  background-color: #b2a094;
  color: #331c1e;
}
.well {
  background-color:#bec8c9;
  }

.jumbotron {
  background-color: #723b31;
  color: #bec8c9;
  padding: 25px;
}

.btn {
  margin-top: 10px;
  background-color: #74635b;
  color: #bec8c9;
}

input,
option,
select,
h3,
label {
  color: #331c1e;
}

.meal-list {
  margin-top: 100px;
  margin-left: 50px;
}
